# 0. Import needed libraries

In [23]:
import pandas as pd

# 1. Data load

In [24]:
df = pd.read_pickle('data/ga_sessions.pkl')
df.head()

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2108382700.1637753791,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,210838531.1636867288,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,IGUCNvHlhfHpROGclCit,mobile,Android,Samsung,NaN,385x854,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2108385331.1640648523,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2108385564.1622255328,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,NaN,NOBKLgtuvqYWkXQHeYWM,NaN,mobile,None,Xiaomi,NaN,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.1622255328,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,NaN,NaN,NaN,mobile,None,Xiaomi,NaN,393x786,Chrome,Russia,Moscow

In [25]:
df.shape

(1860042, 18)

# 2. Data preparation

find duplicates

In [26]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [session_id, client_id, visit_date, visit_time, visit_number, utm_source, utm_medium, utm_campaign, utm_adcontent, utm_keyword, device_category, device_os, device_brand, device_model, device_screen_resolution, device_browser, geo_country, geo_city]
Index: []

## reducing memory usage

In [27]:
df.memory_usage(deep=True)

Index                             128
session_id                  182059015
client_id                   144122161
visit_date                   74401680
visit_time                   89282016
visit_number                 14880336
utm_source                  143218869
utm_medium                  115526826
utm_campaign                133341099
utm_adcontent               128120559
utm_keyword                  94530489
device_category             117549509
device_os                    75449148
device_brand                110791404
device_model                 60256554
device_screen_resolution    119626796
device_browser              119165256
geo_country                 117350707
geo_city                    122159703
dtype: int64

checking datatypes

In [28]:
df.dtypes

session_id                  object
client_id                   object
visit_date                  object
visit_time                  object
visit_number                 int64
utm_source                  object
utm_medium                  object
utm_campaign                object
utm_adcontent               object
utm_keyword                 object
device_category             object
device_os                   object
device_brand                object
device_model                object
device_screen_resolution    object
device_browser              object
geo_country                 object
geo_city                    object
dtype: object

check what data is a category

In [29]:
df.describe(include='all')

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
count,1860042,1860042,1860042,1860042,1.860042e+06,1859945,1860042,1640439,1524427,777981,1860042,789904,1741364,16338,1860042,1860042,1860042,1860042
unique,1860042,1391719,226,85318,NaN,293,56,412,286,1219,3,13,206,104,5039,57,166,2548
top,9055434745589932991.1637753792.1637753792,1750498477.1629450062,2021-05-24,12:00:00,NaN,ZpYIoDJMcFzVoPFsHGJL,banner,LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,mobile,Android,Apple,AuMdmADEIoPXiWpTsBEj,414x896,Chrome,Russia,Moscow
freq,1,462,39453,61067,NaN,578290,552272,463481,1006599,506819,1474871,464054,551088,9778,169090,1013436,1800565,805329
mean,NaN,NaN,NaN,NaN,2.712804e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,1.182907e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,2.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,5.640000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

change datatype from object to category

In [30]:
df2 = df.copy()
cat_columns = ['utm_source', 'utm_medium', 'utm_campaign', 'utm_adcontent', 'device_category', 'device_os', 'device_brand', 'device_model', 'device_screen_resolution', 'device_browser', 'geo_country', 'geo_city']

for column in cat_columns:
	df2[column] = df2[column].astype('category')

reducing int from 64 to 16 bites

In [31]:
df2.visit_number = df2.visit_number.astype('int16')

date as date

In [32]:
df2.visit_date = df2.visit_date.astype('datetime64')

check new memmory usage and reduce level

In [33]:
df2.memory_usage(deep=True)

Index                             128
session_id                  182059015
client_id                   144122161
visit_date                   14880336
visit_time                   89282016
visit_number                  3720084
utm_source                    3750941
utm_medium                    1865733
utm_campaign                  3768360
utm_adcontent                 3750402
utm_keyword                  94530489
device_category               1860340
device_os                     1861438
device_brand                  3741360
device_model                  1872218
device_screen_resolution      4177558
device_browser                1866352
geo_country                   3735186
geo_city                      3954178
dtype: int64

In [34]:
df_memory = df.memory_usage(deep=True).sum()
df2_memory = df2.memory_usage(deep=True).sum()
reduction = ((df_memory - df2_memory) / df_memory) * 100
reduction

71.21067341203441

Nice Job!

Clean memory

In [35]:
import gc
del [[df]]
gc.collect()
df=pd.DataFrame()

## Check null values

In [36]:
print('Количество полностью заполненных объектов из всей выборки:', len(df2.dropna()))
print('Процент полностью заполненных объектов из всей выборки', round(len(df2.dropna())/len(df2)*100, 2), '%')

Количество полностью заполненных объектов из всей выборки: 14940
Процент полностью заполненных объектов из всей выборки 0.8 %

In [37]:
missing_values = ((df2.isna().sum()/len(df2))* 100).sort_values(ascending=False)
missing_values

device_model                99.121633
utm_keyword                 58.174009
device_os                   57.533002
utm_adcontent               18.043410
utm_campaign                11.806346
device_brand                 6.380394
utm_source                   0.005215
geo_country                  0.000000
device_browser               0.000000
device_screen_resolution     0.000000
session_id                   0.000000
device_category              0.000000
client_id                    0.000000
utm_medium                   0.000000
visit_number                 0.000000
visit_time                   0.000000
visit_date                   0.000000
geo_city                     0.000000
dtype: float64

In [38]:
df2.device_os.value_counts()

Android          464054
iOS              207104
Windows           88307
Macintosh         24824
Linux              5120
(not set)           364
Chrome OS            83
BlackBerry           27
Tizen                 7
Samsung               4
Windows Phone         4
Firefox OS            3
Nokia                 3
Name: device_os, dtype: int64

In [39]:
df2[df2['device_brand'].isnull()]['device_category'].value_counts()

desktop    118585
mobile         76
tablet         17
Name: device_category, dtype: int64

drop all colunms with null rows

In [40]:
drop_col = ['device_model', 'utm_keyword', 'device_os', 'utm_adcontent', 'utm_campaign', 'device_brand', 'client_id']
df2 = df2.drop(drop_col, axis=1)

In [41]:
df2.head()

,session_id,visit_date,visit_time,visit_number,utm_source,utm_medium,device_category,device_screen_resolution,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,mobile,360x720,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,mobile,385x854,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,mobile,360x720,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,mobile,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,mobile,393x786,Chrome,Russia,Moscow

# 3. Features

## split session_id to 3 separate columns, for reducing memory usage in df and future db

In [42]:
dfa = pd.DataFrame()
dfa[['session_id1', 'session_id2', 'session_id3']] = [pd.to_numeric(i.split('.')) for i in df2.session_id]
df2[['session_id1', 'session_id2', 'session_id3']] = dfa[['session_id1', 'session_id2', 'session_id3']]
df2 = df2.drop('session_id', axis=1)
df2.head()

,visit_date,visit_time,visit_number,utm_source,utm_medium,device_category,device_screen_resolution,device_browser,geo_country,geo_city,session_id1,session_id2,session_id3
0,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,mobile,360x720,Chrome,Russia,Zlatoust,9.055435e+18,1.637754e+09,1.637754e+09
1,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,mobile,385x854,Samsung Internet,Russia,Moscow,9.055446e+17,1.636867e+09,1.636867e+09
2,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,mobile,360x720,Chrome,Russia,Krasnoyarsk,9.055446e+18,1.640649e+09,1.640649e+09
3,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,mobile,393x786,Chrome,Russia,Moscow,9.055447e+18,1.622255e+09,1.622255e+09
4,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,mobile,393x786,Chrome,Russia,Moscow,9.055447e+18,1.622255e+09,1.622255e+09

# 4. Some work for configuring db table

In [43]:
for column in df2:
    print(column,"->", df2[column].astype(str).str.len().max())

visit_date -> 10
visit_time -> 8
visit_number -> 3
utm_source -> 20
utm_medium -> 17
device_category -> 7
device_screen_resolution -> 10
device_browser -> 32
geo_country -> 24
geo_city -> 35
session_id1 -> 22
session_id2 -> 12
session_id3 -> 12

# 5.Save to Pickle

In [44]:

df2.to_pickle('data/ga_sessions-prep.pkl')
del [[df2]]
gc.collect()
df2=pd.DataFrame()