In [1]:
import pandas as pd

In [3]:
df = pd.read_pickle('data/ga_hits-prep.pkl')
for column in df:
    print(column,"->", df[column].astype(str).str.len().max())

hit_date -> 10
hit_number -> 3
hit_type -> 5
event_category -> 29
event_action -> 40
car_manufacturer -> 13
car_model -> 18
session_id1 -> 19
session_id2 -> 10
session_id3 -> 10

In [4]:
df.head()

,hit_date,hit_number,hit_type,event_category,event_action,car_manufacturer,car_model,session_id1,session_id2,session_id3
0,2021-12-23,30,event,quiz,quiz_show,,,5639623078712724064,1640254056,1640254056
1,2021-12-23,41,event,quiz,quiz_show,,,7750352294969115059,1640271109,1640271109
2,2021-12-23,49,event,quiz,quiz_show,volkswagen,polo,885342191847998240,1640235807,1640235807
3,2021-12-23,46,event,quiz,quiz_show,,,142526202120934167,1640211014,1640211014
4,2021-12-23,79,event,quiz,quiz_show,mercedes-benz,cla-klasse,3450086108837475701,1640265078,1640265078